#
#    Utility to inspect FBX files.
#
#    2021-∞ (c) blurryroots innovation qanat OÜ. All rights reserved.
#    See license.md for details.
#
#    https://think-biq.com

bin/
tmp/
etc/
build/

#
*.sublime-*

#
.DS_Store
