[submodule "dep/SmallFBX"]
	ignore = dirty
	path = dep/SmallFBX
	url = https://github.com/think-biq/SmallFBX.git
[submodule "dep/zlib"]
	ignore = dirty
	path = dep/zlib
	url = https://github.com/madler/zlib.git
