#
#    Utility to inspect FBX files.
#
#    2021-∞ (c) blurryroots innovation qanat OÜ. All rights reserved.
#    See license.md for details.
#
#    https://think-biq.com

[submodule "dep/SmallFBX"]
	ignore = dirty
	path = dep/SmallFBX
	url = https://github.com/think-biq/SmallFBX.git
[submodule "dep/zlib"]
	ignore = dirty
	path = dep/zlib
	url = https://github.com/madler/zlib.git
[submodule "dep/pybind11"]
	path = dep/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
